In [43]:
import pandas as pd

In [44]:
data=pd.read_csv('breast-cancer-wisconsin.data',header=None)

In [45]:
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [46]:
data.set_index(0, inplace=True)
label = data[10]
data.drop(10,axis=1, inplace=True)
data.head()

         1  2  3  4  5   6  7  8  9
0
1000025  5  1  1  1  2   1  3  1  1
1002945  5  4  4  5  7  10  3  2  1
1015425  3  1  1  1  2   2  3  1  1
1016277  6  8  8  1  3   4  3  7  1
1017023  4  1  1  3  2   1  3  1  1

In [47]:
print(label.head())
print(data.head())

0
1000025    2
1002945    2
1015425    2
1016277    2
1017023    2
Name: 10, dtype: int64
         1  2  3  4  5   6  7  8  9
0
1000025  5  1  1  1  2   1  3  1  1
1002945  5  4  4  5  7  10  3  2  1
1015425  3  1  1  1  2   2  3  1  1
1016277  6  8  8  1  3   4  3  7  1
1017023  4  1  1  3  2   1  3  1  1

In [50]:
def solution(prices):
    answer = []
    for _ in range(len(prices)):
        a=prices.pop(0)
        cnt=0
        for p in prices:
            cnt += 1
            if a > p:
                break
        answer.append(cnt)
    return answer

In [148]:
def solution(participant, completion):
    pa_di={}
    for p in participant:
        if pa_di.get(p) == None :
            pa_di[p] = 1
        else :
            pa_di[p] += 1
            
    for c in completion:
        pa_di[c] -= 1
        if pa_di[c] == 0:
            del pa_di[c]
        a=list(pa_di.keys())[0]
    
    answer = a
    return answer

In [149]:
pa = ['mislav', 'stanko', 'mislav', 'ana']
co = ['stanko', 'ana','mislav']

In [150]:
solution(pa, co)

'mislav'

In [142]:
pa_di={}
for p in pa:
    if pa_di.get(p) == None :
        pa_di[p] = 1
        print(pa_di)
    else :
        pa_di[p] += 1
        print(pa_di)

{'mislav': 1}
{'mislav': 1, 'stanko': 1}
{'mislav': 2, 'stanko': 1}
{'mislav': 2, 'stanko': 1, 'ana': 1}

In [143]:
for c in co:
    pa_di[c] -= 1
    if pa_di[c] == 0:
        del pa_di[c]

In [144]:
a=list(pa_di.keys())[0]

In [145]:
a

'mislav'

In [3]:
str1=[]
while 1:
    temp = input()
    if temp == '.':
        break
    str1.append(temp)

def bal(st):
    stack = []
    yesorno = True
    for w in st:
        if w == '[' or w == '(' :
            stack.append(w)
        elif w == ']' or w == ')':
            if len(stack)==0:
                print('no')
                yesorno = False
                break
            else :
                a=stack.pop()
                if w==']':
                    if a!='[':
                        print('no')
                        yesorno = False
                        break
                else :
                    if a!='(':
                        print('no')
                        yesorno = False
                        break
    if yesorno == True:
        print('yes')

for st in str1:
    bal(st)

 .

yes

In [83]:
seq=[]
for _ in range(int(input())):
    seq.append(int(input()))

n=list(range(1,len(seq)+1))

stack = []
temp = []
isCorrect = True
cursor = 0
ans = []
for s in seq:
    if s > cursor:
        cursor = s
        while 1:
            temp.append(n.pop(0))
            ans.append('+')
            if temp[-1]==s:
                break
        stack.append(temp.pop())
        ans.append('-')
        if stack[len(stack)-1] != seq[len(stack)-1]:
            isCorrect = False
            break
    else :
        cursor = s
        while 1:
            a=temp.pop()
            ans.append('-')
            stack.append(a)
            if stack[len(stack)-1] != seq[len(stack)-1]:
                isCorrect = False
                break
            if a==s:
                break
    if isCorrect == False:
        break
        
if isCorrect == False:
    print('NO')
else :
    for a in ans:
        print(a)

 5
 1
 2
 5
 3
 4

NO

In [69]:
isCorrect

False

In [68]:
stack

[1, 5, 7, 8, 6, 4, 3]

In [66]:
n

[]